@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html {
  scroll-behavior: smooth !important;
}

@layer base {
  :root {
    /* colors */
    --lightPink: 350deg 100% 88%; /* #FFC0CB*/
    --lightGray: 0deg 4% 53%; /* #8B8282 */
    --pri-black: 0deg 0% 24%; /* #3E3E3E */
    --gray-bg: 0deg 0% 91%; /* #E8E8E8 */
    --gray-divider: 0deg 0% 60%; /* #989898 */
    --medGray: #e8e8e8;
    --gray-table-header: 0deg 0% 46%; /* #757575 */
    --list-hover: 0deg 0% 96%; /* #f5f5f5 */

    /* fonts */
    /* 44px - 98px */
    --fs-xxl: clamp(2.75rem, 1rem + 4vw, 6rem);
    /* 24px - 44px*/
    --fs-xl: clamp(1.5rem, 1rem + 2.2vw, 3rem);
    /* 20.4px - 36px */
    --fs-lg: clamp(1.275rem, 1rem + 1.5vw, 2.25rem);
    /* 20px - 28.8 */
    --fs-md: clamp(1.25rem, 1rem + 1vw, 1.8rem);
    /* 16px - 24px*/
    --fs: clamp(1rem, 0.75rem + 1vw, 1.5rem);
    /* 14 - 18px*/
    --fs-sm: clamp(0.875rem, 0.7rem + 1vw, 1.125rem);
    /* 12px - 14px*/
    --fs-xs: clamp(0.75rem, 0.5rem + 1vw, 0.85rem);
    @apply text-base;
  }
  body {
    @apply bg-[#fff] text-base;
    min-width: 320px;
    position: relative;
  }

  select > option:checked {
    @apply bg-black text-white;
  }
  select > option:hover {
    @apply bg-black text-white;
  }

  .shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px,
      rgba(0, 0, 0, 0.15) 0px 8px 16px;
  }
}

.optionList:hover {
  background-color: #f5f5f5;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text-border-white {
  -webkit-text-stroke: 1px white;
}

.bred {
  @apply border-2 border-red-500;
}

.bYellow {
  @apply border-2 border-yellow-500;
}

@media (max-width: 1024px) {
  #editBTN {
    display: none;
  }
  #billingBtnMobile {
    display: block;
  }
}

.scrapbook-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(250px, 350px);
  grid-auto-flow: dense;
}
.scrapbook-wrapper > div {
  display: flex;
}

.scrapbook-wrapper > div > img {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

.scrapbook-wrapper .wide {
  grid-row: span 2;
}
.scrapbook-wrapper .tall {
  grid-column: span 2;
}
.scrapbook-wrapper .big {
  grid-row: span 2;
  grid-column: span 2;
}
